<!-- BEGIN: Content-->
<div class="container-fluid bg-white" style="margin-left: 1rem">
  <div class="row p-1">
    <div class="col-4 mt-4">
      <span class="search">
        <input
          type="text"
          class="form-control"
          placeholder="Search All"
          style="height: 45px"
          (keyup)="applyFilter($event)"
        />
        <div style="margin-top: 1em"></div>
      </span>
    </div>
    <div class="col-2"></div>

    <div class="col-1"></div>
  </div>
  <h2 class="ml-2">Answer Sheets</h2>
  <!-- Begin: table -->

  <div class="row">
    <div class="mat-elevation-z8 mt-4 pl-0" style="overflow-x: auto">
      <table
        mat-table
        [dataSource]="dataSource"
        style="width: 100%"
        matSort
        (matSortChange)="announceSortChange($event)"
      >
        <!-- ID Column -->
        <ng-container matColumnDef="FolderName">
          <th
            style="width: 15rem; min-width: 10rem"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by name"
          >
            Folder Name
          </th>
          <td mat-cell *matCellDef="let row">
            <div>
              <i class="fas fa-folder" style="color: #fff700"></i>
              {{ row.sheet_name }}
            </div>
            <!-- <div *ngFor="let row of collection.children">{{ row.exam_name }}</div> -->
          </td>
        </ng-container>

        <ng-container matColumnDef="subject_name">
          <th
            style="width: 10rem; min-width: 10rem"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by name"
          >
            Subject
          </th>
          <td mat-cell *matCellDef="let row">{{ row.subject }}</td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="class_name">
          <th
            style="width: 10rem; min-width: 10rem"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by name"
          >
            Class
          </th>
          <td mat-cell *matCellDef="let row">{{ row.class_name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="division_name">
          <th
            style="width: 10rem; min-width: 10rem"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by name"
          >
            Division
          </th>
          <td mat-cell *matCellDef="let row">{{ row.division_name }}</td>
        </ng-container>

        <ng-container matColumnDef="exam_date">
          <th
            style="width: 10rem; min-width: 10rem"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by number"
          >
            Year
          </th>
          <td mat-cell *matCellDef="let row">{{ row.year_name }}</td>
        </ng-container>

        <!-- Fruit Column -->

        <ng-container matColumnDef="totalStudents">
          <th
            style="width: 10rem; min-width: 10rem"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by number"
          >
            Total Students
          </th>
          <td mat-cell *matCellDef="let row">53</td>
        </ng-container>

        <ng-container matColumnDef="UploadedBy">
          <th
            style="width: 10rem; min-width: 10rem"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by number "
          >
            Uploaded By
          </th>
          <td mat-cell *matCellDef="let row">Jayesh Goyal</td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th
            style="width: 10rem; min-width: 10rem"
            mat-header-cell
            *matHeaderCellDef
          >
            Action
          </th>
          <td mat-cell *matCellDef="let row">
            <a class="d-flex align-items-center gap-3">
              <button (click)="navigateEvalOne(row)" class="btn btn-primary">
                <i class="fas fa-eye"></i>
              </button>
              <!-- <i
                      (click)="_editExam(row.exam_details_id)"
                      class="fas fa-pencil-alt"
                    ></i> -->
              <!-- <i class="fas fa-trash"></i> -->
              <!-- Button trigger modal -->
              <!-- <button
                      (click)="openDeleteExamModal(row)"
                      class="fas fa-trash border-0"
                      style="background: transparent"
                    ></button> -->

              <!-- Modal -->
              <!-- <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                              Delete Exam?
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <span class="fw-bold">Exam Name :</span>
                            {{ examName }}
                            <span class="fw-bold">Exam Date :</span>
                            {{ examDate }}
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                            <button
                              (click)="deleteSelectedExam()"
                              type="button"
                              data-bs-dismiss="modal"
                              class="btn btn-primary"
                            >
                              Yes
                            </button>
                          </div>
                        </div>
                      </div>
                    </div> -->
              <!-- Modal -->
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
<!-- End: table -->

<!-- END: Content-->
