.curspoint ul {
  cursor: pointer !important;
}

::ng-deep .btn-primary {
  background: rgb(241, 123, 76) !important;
  color: #fff !important;
  border: none !important;
}
::ng-deep .btn-primary:hover {
  background: rgb(241, 123, 76) !important;
  color: #fff !important;
  border: none !important;
}
/* .container-fluid,
.container {
  --bs-gutter-x: 0 !important;
} */
