.curspoint ul {
  cursor: pointer !important;
}

::ng-deep .btn-primary {
  background: rgb(241, 123, 76) !important;
  color: #fff !important;
  border: none !important;
}
::ng-deep .btn-primary:hover {
  background: rgb(241, 123, 76) !important;
  color: #fff !important;
  border: none !important;
}

input {
  outline: none !important;
}

::ng-deep .mat-form-field-flex {
  min-height: 45px;
}
