::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  min-height: 2.8rem !important;
}


::ng-deep .btn-primary {
  background: rgb(241, 123, 76) !important;
  color: #fff !important;
  border: none !important;
}

::ng-deep .btn-primary:hover {
  background: rgb(241, 123, 76) !important;
  color: #fff !important;
  border: none !important;
}
